:root {
    --border-color: black;
    --bg-color: white;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --font-size-large: 1.5rem;
    --font-size-medium: 1rem;
    --spacing: 10px; /* Usada tanto para padding como para border-radius */
    --img-size: 40px;
    --container-height: 100vh;
    --main-width: 20%;
    --main-height: 60%;
    --gradient-bomb: linear-gradient(to bottom, #3a3a3a, #8b8b8b);
    --gradient-defuse: linear-gradient(to bottom, #3C763D, #8FBC8F);
    --gradient-skip: linear-gradient(to bottom, #87CEFA, #4682B4);
    --gradient-nope: linear-gradient(to bottom, #c93e3e, #FF7F7F);
    --gradient-points: linear-gradient(to bottom, #c7c7c7, #FFFFFF);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--container-height);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--main-width);
    height: var(--main-height);
    border: 2px solid var(--border-color);
    border-radius: var(--spacing); /* Usando la variable de spacing */
    box-shadow: 0px 4px 8px var(--shadow-color);
    background-color: var(--bg-color);
    padding: var(--spacing); /* Usando la misma variable */
    font-size: var(--font-size-large);
}

#up,
#down {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#up img,
#down img {
    width: var(--img-size);
    height: var(--img-size);
}

#typeDescription h2,
#typeDescriptionDown h2 {
    font-size: var(--font-size-large);
    margin: 0;
}

#typeDescription p,
#typeDescriptionDown p {
    font-size: var(--font-size-medium);
    margin: 5px 0 0;
}

main img {
    width: 40%;
    margin: 10px 0;
}

#down {
    rotate: 180deg;
}

.card-bomb {
    background: var(--gradient-bomb);
    color: white;
}

.card-defuse {
    background: var(--gradient-defuse);
}

.card-skip {
    background: var(--gradient-skip);
}

.card-nope {
    background: var(--gradient-nope);
}

.card-points {
    background: var(--gradient-points);
}

.nunito {
    font-family: "Nunito", sans-serif;
}

.points {
    font-weight: bold;
    font-size: 2.5rem;
}

button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 1rem;
}

button:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}